<ul class="list-unstyled d-flex mb-0">
    <li class="mr-3"><a href="{{ url_for('home') }}" style="color: #000; text-transform: uppercase; font-weight: 600; font-size: 13px; text-decoration: none;">Home</a></li>
    <li class="mr-3"><a href="{{ url_for('about') }}" style="color: #000; text-transform: uppercase; font-weight: 600; font-size: 13px; text-decoration: none;">About</a></li>
    <li><a href="{{ url_for('contact') }}" style="color: #000; text-transform: uppercase; font-weight: 600; font-size: 13px; text-decoration: none;">Contact</a></li>
</ul>